*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background-color: rgb(255, 216, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: rgb(228, 9, 20);
}